---
import { Building2 } from "@lucide/astro";
import { getPublishedBlogs } from "@/utils/blog";

// Data arrays
const quickLinks = [
  { label: "Home", href: "/" },
  { label: "Blogs", href: "/blog" },
  { label: "Contact", href: "/contact" },
  { label: "About us", href: "/about" },
];
const latestBlog = await getPublishedBlogs();


const contacts = [
"Phone: (555) 555-0199",
  "Mobile: (555) 555-0142",
  "Email: infothethermo@gmail.com",
];
---

<footer class="bg-base-300 text-base-content pt-16 pb-8">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 mb-12">
      <!-- Logo + Description -->
      <div>
        <div class="flex items-center gap-2 mb-4 cursor-pointer">
          <div
            class="w-10 h-10 bg-primary rounded-lg flex items-center justify-center"
          >
            <Building2 class="w-6 h-6 text-primary-content" />
          </div>
          <div>
            <h3 class="text-base-content">Thermo Group</h3>
          </div>
        </div>
        <p class="text-base-content/70 text-sm">
          Manufacturing and supplying high-quality industrial heating components
          since decades.
        </p>
      </div>

      <!-- Quick Links -->
      <div>
        <h4 class="text-base-content mb-4">Quick Links</h4>
        <ul class="space-y-2">
          {
            quickLinks.map((link) => (
              <li>
                <a href={link.href} class="cursor-pointer text-base-content/70 hover:text-primary active:text-secondary transition-colors text-sm">
                  {link.label}
                </a>
              </li>
            ))
          }
        </ul>
      </div>

      <!-- Top Products -->
      <div>
        <h4 class="text-base-content mb-4">Top Products</h4>
        <ul class="space-y-2">
          {
            latestBlog.slice(0, 4).map((blog) => (
              <li>
                <a href={`/blog/${blog.slug}`} class="text-base-content/70 text-sm hover:text-primary active:text-secondary">
                  {blog.data.title}
                </a>
              </li>
            ))
          }
        </ul>
      </div>

      <!-- Contact -->
      <div>
        <h4 class="text-base-content mb-4">Contact</h4>
        <ul class="space-y-2 text-base-content/70 text-sm">
          {contacts.map((contact) => <li>{contact}</li>)}
        </ul>
      </div>
    </div>

    <!-- Separator -->
    <div class="shrink-0 h-px w-full bg-base-300 mb-8"></div>

    <!-- Bottom -->
    <div
      class="flex flex-col md:flex-row justify-between items-center gap-4 text-sm text-base-content/70"
    >
      <p>
        Website design and optimization by
        <a
          href="https://kiapmd.dev"
          target="_blank"
          rel="noopener"
          class="link  font-medium"
        >
          KIAPMD
        </a>
      </p>
    </div>
  </div>
</footer>
