---
import type { CollectionEntry } from "astro:content";
import Image from "astro/components/Image.astro";
import { ArrowRight } from "@lucide/astro";

interface Props {
  product: CollectionEntry<"products">;
}
const { product } = Astro.props;
---

<div
  class="card text-card-foreground flex flex-col gap-6 rounded-xl border overflow-hidden hover:shadow-lg transition-shadow border-base-200"
>
  <div class="relative h-48 overflow-hidden">
    <Image
      src={product.data.thumbnail}
      alt={product.data.title}
      class="w-full h-full object-cover hover:scale-105 transition-transform duration-300"
    />
    <div class="absolute top-4 right-4">
      <span class="badge badge-primary text-primary-content px-3 py-1 text-sm">
        {product.data.category}
      </span>
    </div>
  </div>

  <div class="card-body">
    <h4 class="card-title leading-none text-lg font-semibold">
      {product.data.title}
    </h4>
    <p class="text-muted-foreground text-sm">{product.data.excerpt}</p>
    <div class="card-actions justify-end">
      <a
        class="btn btn-outline btn-sm text-primary hover:text-primary-content hover:bg-primary mt-2 flex items-center gap-2"
        href={`/product/${product.slug}`}
      >
        View This Product
        <ArrowRight class="w-4 h-4" />
      </a>
    </div>
  </div>
</div>
